/** base setting **/
@font-face {
    font-family: "sagak";
    src: url("../resource/font/sagak.ttf") format("truetype");
}

html {
    width: 1920px;
    height: 1080px;
}

body {
    margin: 0;
    background-color: #F4F5F7;
}

/** header **/
header {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 104px;
    position: relative;
    border-bottom: 1px solid black;
}

#back-btn {
    display: flex;
    align-items: center;
}

#left-arrow {
    position: absolute;
    left: 684px;
    font-size: 25px;
    text-decoration: none;
}

#title {
    text-align: center;
    font-family: 'sagak';
    font-weight: 400;
    font-size: 32px;
}

#user-profile-img {
    position: absolute;
    right: 688px;
}

.profile-img {
    width: 36px;
    height: 36px;
    border-radius: 100%;
}

/** drop-down **/
.dropdown-menu {
    display: none;
    position: fixed;
    top: 85px;
    left: 1118px;
    width: 115px;
    height: 105px;
    z-index: 999;
    background-color: #D9D9D9;
}

/** 바로 뒤의 요소여야 적용 됨 **/
.nav-menu:focus + .dropdown-menu {
    display: block;
}

.dropdown-menu a{
    display: block;
    transition: .3s;
}
.dropdown-menu .task-btn:hover{
    background-color: #E9E9E9;
}

.task-btns {
    display: flex;
    flex-direction: column;
}

.task-btn {
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.task-btn a{
    text-decoration: none;
    font-weight: 400;
    font-size: 12px;
    color: #000000;
}

.dropdown-menu:active {
    display: block;
}

/** main **/
main {
    display: flex;
    justify-content: center;
}

#board-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    margin: 30px 0 30px 0;
}

/** post-info-box **/
#post-info-box {
    width: 544px;
    padding-bottom: 10px;
}

#post-title h2 {
    font-weight: 700;
    font-size: 24px;
    margin: 0;
    padding-bottom: 10px;
}

#post-info-view {
    display: flex;
    justify-content: space-between;
}

#post-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 285px;
}

.writer-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 125px;
}

#writer {
    font-weight: 700;
    font-size: 15px;
}

.time {
    font-weight: 400;
    font-size: 14px;
}

.btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 110px;
}

.btns button {
    width: 50px;
    height: 30px;
    border: 1px solid #ACA0EB;
    border-radius: 8px;

    font-weight: 400;
    font-size: 15px;
    text-align: center;
    background-color: #FFFFFF;
}

.btns button:hover {
    cursor: pointer;
}

.line {
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid rgba(0, 0, 0, 0.16);
}

/** content-box **/
#content-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 580px;
}

#content-img {
    width: 544px;
    height: 306px;
    background-color: #D9D9D9;
}

#content-text {
    padding-top: 20px;
    width: 544px;
}

#content-text textarea {
    display: flex;
    width: 544px;
    height: 200px;
    resize: none;
    border: none;

    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0px;
    word-spacing: -2px;
}

#content-info-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 255px;
    height: 123px;
}

.content-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    box-sizing: border-box;
    padding: 10px 0 10px 0;

    width: 116px;
    height: 77px;
    border-radius: 16px;
    background-color: #D9D9D9;
    text-align: center;
}

.content-info p:nth-child(1) {
    font-weight: 700;
    font-size: 20px;
    margin: 0;
}

.content-info p:nth-child(2) {
    font-weight: 700;
    font-size: 16px;
    margin: 0;
}

/** reply-box **/
#reply-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 580px;
}

#reply-write {
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    background-color: #FFFFFF;
}

#reply {
    box-sizing: border-box;
    width: 580px;
    height: 169px;
    padding: 25px;
    resize: none;

    border-radius: 16px;
    border: 0;

    font-weight: 400;
    font-size: 15px;
    word-spacing: -3px;
}


#reply-submit-btn-area {
    display: flex;
    justify-content: end;
    align-items: center;
    box-sizing: border-box;
    padding: 8px;
}

#reply-submit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 138px;
    height: 39px;
    border-radius: 16px;
    border: 0;
    background-color: #ACA0EB;
    color: #FFFFFF;    
}

#reply-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 580px;
}

.reply-form {
    display: flex;
    justify-content: space-between;
    width: 550px;
    margin-top: 15px;
}

.reply-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
}

.reply-writer {
    font-weight: 700;
    font-size: 15px;
}

.reply-content {
    width: 390px;
    height: auto;
    margin: 10px 0 0 46px;
}

.reply-content span {
    font-weight: 400;
    font-size: 15px;
}

/** modal **/
.modal-wrapper {
    display: none;
    position: fixed;
    top: 200px;
    left: 785px;
    width: 350px;
    height: 200px;
    z-index: 999;
    background-color: #FFFFFF;
    border-radius: 12px;
}

/* 모달 내용을 가운데 정렬하는 CSS */
.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.modal-msg {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-msg p {
    margin: 0 0 15px 0;
}

.delete-question {
    font-weight: 700;
    font-size: 20px;
}

.delete-notice {
    font-weight: 400;
    font-size: 15px;
}

/* 모달 버튼 스타일 */
.modal-btns {
    display: flex;
    justify-content: space-between;
    width: 220px;
}

.modal-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    width: 100px;
    height: 40px;
    text-decoration: none;
}

.modal-cancel-btn {
    background-color: #242424;
    color: #FFFFFF;
}

.modal-confirm-btn {
    background-color: #c4a5fb;
    color: #000000;
}

/* 모달이 열렸을 때, URL에 #modal이 붙음 */
:target {
    display: block;
}