/** base setting **/
@font-face {
    font-family: "sagak";
    src: url("../resource/font/sagak.ttf") format("truetype");
}

html {
    width: 1920px;
    height: 1080px;
}

body {
    margin: 0;
    background-color: #F4F5F7;
}

/** header **/
header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 104px;
    border-bottom: 1px solid black;
}

header #title {
    text-align: center;
    font-family: 'sagak';
    font-weight: 400;
    font-size: 32px;
}