/** base setting **/
@font-face {
    font-family: "sagak";
    src: url("../resource/font/sagak.ttf") format("truetype");
}

html {
    width: 100%;
    height: 1080px;
}

body {
    margin: 0;
    background-color: #F4F5F7;
}

/** header **/
header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 104px;
    border-bottom: 1px solid black;
}

#title {
    text-align: center;
    font-family: 'sagak';
    font-weight: 400;
    font-size: 32px;
}

#user-profile-img {
    position: absolute;
    right: 35%;
}

.profile-img {
    width: 36px;
    height: 36px;
    border-radius: 100%;
}

/** drop-down **/
.dropdown-menu {
    display: none;
    position: fixed;
    top: 85px;
    left: 1118px;
    width: 115px;
    height: 105px;
    z-index: 999;
    background-color: #D9D9D9;
}

/** 바로 뒤의 요소여야 적용 됨 **/
.nav-menu:focus + .dropdown-menu {
    display: block;
}

.dropdown-menu a{
    display: block;
    transition: .3s;
}
.dropdown-menu .task-btn:hover{
    background-color: #E9E9E9;
}

.task-btns {
    display: flex;
    flex-direction: column;
}

.task-btn {
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.task-btn a{
    text-decoration: none;
    font-weight: 400;
    font-size: 12px;
    color: #000000;
}

.dropdown-menu:active {
    display: block;
}

/** main **/
main {
    display: flex;
    justify-content: center;
}

.link {
    text-decoration: none;
    color: black;
}

#board-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 40px;
    width: 600px;
}

/** greet-msg-box **/
#greet-msg-box {
    width: 280px;
    height: 62px;
    text-align: center;
}

#greet-msg-box span {
    font-weight: 300;
    font-size: 24px;
}

/** post-btn-box **/
#post-btn-box {
    display: flex;
    justify-content: end;
    padding: 20px 0 20px 0;
    width: 600px;
}

#post-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 138px;
    height: 39px;
    border-radius: 16px;

    background-color: #ACA0EB;
    color: white;
    text-decoration: none;
}

#post-btn:hover {
    background-color: #7F6AEE;
}

/** content-box **/
#content-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 600px;
}

.line {
    width: 99.5%;
    margin: 0;
    border: 1px solid rgba(0, 0, 0, 0.16);
}

.post-box {
    width: 592px;
    height: 169px;
    border-radius: 10px;
    box-shadow: 3px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: #FFFFFF;
}

.post-box:hover {
    cursor: pointer;
}

.post-title h2{
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.post-info {
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.info-details {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}

.countings {
    display: flex;
    align-items: center;
    width: auto;
    gap: 10px;
    overflow: visible;
}

.time {
    display: flex;
    align-items: center;
    justify-content: end;
}

.countings span, .time span{
    font-weight: 400;
    font-size: 14px;
}

.user-info {
    display: flex;
    justify-content: start;
    align-items: center;
    box-sizing: border-box;
    gap: 10px;
    padding: 12px 10px 10px 14px;
}

.user-info span {
    margin: 0;
    text-align: center;
    font-weight: 700;
    font-size: 15;
}